<section>
		<h3> <%= @company.name %> </h3>
		<p> Twitter Username: <%= @company.phone_number %> </p>
		<p> Funds Raised: <%= @company.total_money_raised %> </p>
		<p> <%= raw @company.description %> </p>
</section>